@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Medium.ttf") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.ttf") format("woff2");
}
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Sen/Sen-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Sen/Sen-Bold.ttf") format("woff2");
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #2f2f2f;
}

a {
  font-size: 2rem;
  text-decoration: none;
}

h1 {
  font: 700 7.2rem "Sen";
}

h2 {
  font: 500 1.8rem "Inter";
}

h3 {
  font: 400 2rem "Sen";
  text-transform: uppercase;
}

p {
  font: italic 400 1.6rem "Sen";
  line-height: 2.6rem;
}

@keyframes rodaroda {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button {
  font-family: "Inter", sans-serif;
  border: 0;
  border-radius: 10rem;
  text-transform: uppercase;
  cursor: pointer;
}

.maxWidth {
  max-width: 120rem;
  margin: 0 auto;
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Medium.ttf") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter/Inter-SemiBold.ttf") format("woff2");
}
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Sen/Sen-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Sen";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Sen/Sen-Bold.ttf") format("woff2");
}
body {
  background-color: #f9f9f9;
}

nav {
  height: 9.4rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
nav .logo a {
  font: 700 3.2rem "Sen";
}
nav button {
  font-size: 1.6rem;
  padding: 1.09rem 2.34rem;
  background-color: transparent;
  color: #2f2f2f;
  border: 0.2rem solid #eaeaea;
}
nav button:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: transparent;
  color: #6610f2;
  border: 0.1rem solid #6610f2;
}

main {
  margin-top: 14.9rem;
  display: flex;
  text-align: center;
}
main h2 {
  text-transform: uppercase;
}
main h1 {
  margin-top: 1.7rem;
  line-height: 8.7rem;
}
main .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .mainContainer .buttons {
  margin-top: 3.7rem;
}
main .mainContainer .buttons button {
  font-size: 2rem;
  margin: 2rem 2.6rem;
}
main .mainContainer .buttons #btn-purple {
  padding: 1.5rem 4rem;
  background-color: #6610f2;
  color: #f9f9f9;
}
main .mainContainer .buttons #btn-purple:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: transparent;
  color: #6610f2;
  border: 0.1rem solid #6610f2;
}
main .mainContainer .buttons #btn-white {
  padding: 1.5rem 4rem;
  background-color: transparent;
  color: #2f2f2f;
  border: 0.2rem solid #eaeaea;
}
main .mainContainer .buttons #btn-white:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  background-color: transparent;
  color: #6610f2;
  border: 0.1rem solid #6610f2;
}
main .mainContainer .texts {
  position: relative;
}

.emojis {
  position: absolute;
  display: flex;
  width: 20rem;
  height: 20rem;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}
.emojis img {
  transform: rotate(-45deg);
}

#emoji1 {
  background: linear-gradient(136.92deg, #2DC7ED 3.14%, rgba(45, 199, 237, 0) 100%);
  left: -22rem;
  top: -10rem;
}

#emoji2 {
  top: -10rem;
  right: -26rem;
  border-radius: 100%;
  background: linear-gradient(270deg, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
}

#emoji3 {
  width: 15rem;
  height: 15rem;
  transform: rotate(0deg);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  top: 36rem;
  right: -31rem;
  background: linear-gradient(180deg, #00E861 0%, rgba(0, 232, 97, 0) 100%);
}

#img3 {
  position: absolute;
  left: 94rem;
  top: 37rem;
}

#emoji4 {
  border-radius: 100%;
  top: 60rem;
  right: 18rem;
  background: linear-gradient(270deg, #7248EC 0%, rgba(114, 72, 236, 0) 100%);
}

#emoji5 {
  transform: rotate(90deg);
  border-radius: 3rem;
  background: linear-gradient(136.92deg, #EF7C89 3.14%, rgba(239, 124, 137, 0) 100%);
  left: -13rem;
}
#emoji5 img {
  transform: rotate(-90deg);
}

footer {
  margin-top: 42rem;
}

.coments-box {
  background-color: #fcfcfc;
  display: flex;
}
.coments-box .coments {
  padding: 6rem 7.5rem;
}
.coments-box .coments h3 {
  padding: 0 1.2rem;
  border-left: 0.3rem solid #6610F2;
}
.coments-box .coments p {
  padding: 2.7rem 0;
}

@media screen and (max-width: 900px) {
  .maxWidth {
    padding: 0 2rem;
  }

  h1 {
    line-height: 1rem;
    font-size: 5.5rem;
  }

  #img3 {
    display: none;
  }

  .emojis {
    display: none;
  }

  footer {
    margin-top: 10rem;
  }

  .coments-box {
    padding: 2rem;
    flex-wrap: wrap;
  }
  .coments-box .coments {
    padding: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
