*, *::after, *::before {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

h1 {
    font-size: 7.2rem ;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.6rem ;
}