
@import 'variables';

*, *::after, *::before {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: $black;
}

a {
    font-size: 2rem;
    text-decoration: none;
   
}

h1 {
    font: 700 7.2rem 'Sen';
}
h2 {
    font: 500 1.8rem 'Inter';
}
h3 { 
    font: 400 2rem 'Sen' ;
    text-transform: uppercase;
}
p {
    font: italic 400 1.6rem 'Sen' ;
    line-height: 2.6rem;
}

button {
    font-family: 'Inter', sans-serif;
    border: 0;
    border-radius: 10rem;
    text-transform: uppercase;
    cursor: pointer;
}

.maxWidth {
    max-width: 120rem;
    margin: 0 auto;
}

@mixin btn($var) {
  
    @if $var == ligth {
      background-color:transparent;
      color: $black;
      border: .2rem solid $grey;

    } @else if $var == dark{
        background-color: $purple;
        color: $white;
    }
  }

 