@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Sen:wght@400;700&display=swap');

*, *::after, *::before {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
   
}

a {
    font-size: 2rem;
    text-decoration: none;

}

h1 {
    font-size: 7.2rem ;
}
h2 {
    font-size: 1.8rem;
}
h3 { 
    
    text-transform: uppercase;
    font-size: 2rem;
   padding: 0 1.2rem;
    border-left: .3rem solid  #6610F2;
  
}
p {
    font-size: 1.6rem ;
}

button {
    border: 0;
    font-size: 1.6rem;
    border-radius: 10rem;
    text-transform: uppercase;
    cursor: pointer;
}

.maxWidth {
    max-width: 120rem;
    margin: 0 auto;
}

@mixin btn($var) {
  
    @if $var == ligth {
      background-color:transparent;
      color: $black;
      border: .2rem solid $grey;

    } @else if $var == dark{
        background-color: $purple;
        color: $white;
    }
  }

 