// FONTES


@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter/Inter-Regular.ttf") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../fonts/Inter/Inter-Medium.ttf") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Inter/Inter-SemiBold.ttf") format("woff2");
  }
  @font-face {
    font-family: "Sen";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Sen/Sen-Regular.ttf") format("woff2");
 
  }
  @font-face {
    font-family: "Sen";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Sen/Sen-Bold.ttf") format("woff2");

  }

  // CORES 

  $purple: #6610f2;
  $black: #2f2f2f;
  $grey: #eaeaea;
  $white: #f9f9f9;
  $bg-coments: #fcfcfc;
  $bg-icon1:linear-gradient(136.92deg, #2DC7ED 3.14%, rgba(45, 199, 237, 0) 100%);
  $bg-icon2:  linear-gradient(270deg, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
  $bg-icon3:  linear-gradient(180deg, #00E861 0%, rgba(0, 232, 97, 0) 100%);
  $bg-icon4: linear-gradient(270deg, #7248EC 0%, rgba(114, 72, 236, 0) 100%);
  $bg-icon5: linear-gradient(136.92deg, #EF7C89 3.14%, rgba(239, 124, 137, 0) 100%);