@import 'reset';
@import 'variables';


    nav {
        font-family: 'Sen', sans-serif;
        height: 8rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
       
     
        .logo {

           font-size: 3.2rem;
           font-weight: 700;
        }
    }
   
